name: Main
on: push
jobs:
  macos:
    runs-on: macOS-latest
    steps:
    - uses: actions/setup-haskell@v1.1
      with:
        ghc-version: 8.6.5
        cabal-version: 2.4
    - run: cabal --version

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-haskell@v1.1
      with:
        ghc-version: 8.6.5
        cabal-version: 2.4
    - run: cabal --version
